<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
    <div id="main_heading" class = "red makeBigger">
        <h1> Collin's Homepage </h1>
    </div>
    <div id="main_content" class = "none">
        <p>
            <span class = " red makeBigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Aliquet nec ullamcorper sit amet risus nullam. Vulputate ut pharetra sit amet aliquam id diam
        maecenas. Quis ipsum suspendisse ultrices gravida dictum fusce. Quam nulla porttitor massa id neque aliquam. Sed
        libero enim sed faucibus. Posuere urna nec tincidunt praesent semper feugiat. Nullam ac tortor vitae purus
        faucibus ornare suspendisse sed nisi. A scelerisque purus semper eget. Mus mauris vitae ultricies leo integer
        malesuada nunc vel risus. Cursus risus at ultrices mi tempus. Enim lobortis scelerisque fermentum dui faucibus
        in ornare quam viverra. In vitae turpis massa sed elementum tempus egestas sed. Posuere lorem ipsum dolor sit
        amet consectetur adipiscing. Amet porttitor eget dolor morbi non arcu.
        </p>
        <p>
        At volutpat diam ut venenatis tellus in metus. Aliquet porttitor lacus luctus accumsan tortor posuere ac. Diam
        in arcu cursus euismod quis viverra. Pellentesque dignissim enim sit amet venenatis urna cursus. Libero justo
        laoreet sit amet cursus. Commodo sed egestas egestas fringilla phasellus. Varius sit amet mattis vulputate enim
        nulla aliquet porttitor lacus. Proin sed libero enim sed faucibus turpis in. Lectus proin nibh nisl condimentum
        id venenatis a. Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Et odio pellentesque diam
        volutpat commodo. Enim ut tellus elementum sagittis vitae et leo duis ut.
        </p>
        <p>
        Morbi tristique senectus et netus et malesuada fames. Eu scelerisque felis imperdiet proin fermentum leo vel
        orci porta. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Id diam maecenas ultricies mi eget
        mauris. Elementum curabitur vitae nunc sed velit dignissim. Ultrices vitae auctor eu augue ut lectus. Massa
        ultricies mi quis hendrerit dolor magna eget. Mi bibendum neque egestas congue quisque egestas diam in. Molestie
        at elementum eu facilisis sed odio morbi quis. Aliquet sagittis id consectetur purus ut. Dolor magna eget est
        lorem ipsum dolor. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Ipsum faucibus vitae aliquet nec
        ullamcorper sit. Nibh praesent tristique magna sit amet purus. Lacus sed turpis tincidunt id aliquet risus
        feugiat in ante. In nisl nisi scelerisque eu ultrices vitae auctor eu augue.
        </p>
        <p>
        Laoreet non curabitur gravida arcu ac tortor dignissim. Libero nunc consequat interdum varius sit. Tincidunt
        vitae semper quis lectus nulla at volutpat. Eu sem integer vitae justo eget. Sit amet nisl suscipit adipiscing
        bibendum est. Tellus elementum sagittis vitae et leo duis ut diam quam. Odio tempor orci dapibus ultrices. Velit
        ut tortor pretium viverra suspendisse potenti. Est lorem ipsum dolor sit amet. Platea dictumst quisque sagittis
        purus sit amet.
        </p>
        <p>
        Mauris pharetra et ultrices neque ornare aenean euismod. Tristique sollicitudin nibh sit amet. Augue interdum
        velit euismod in pellentesque massa placerat duis. Ut lectus arcu bibendum at varius vel pharetra. Magna
        fermentum iaculis eu non diam phasellus vestibulum. Accumsan lacus vel facilisis volutpat est velit. Amet
        consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Eu tincidunt tortor aliquam nulla
        facilisi cras fermentum odio eu. Dictumst quisque sagittis purus sit amet volutpat. Dui nunc mattis enim ut
        tellus elementum sagittis vitae et. Convallis aenean et tortor at risus viverra adipiscing. Placerat vestibulum
        lectus mauris ultrices eros.
        </p>
    </div>
</body>
</html>
